{% extends 'base.html.twig' %}

{% block title %}Éditer Categorie
{% endblock %}

{% block body %}
	<main>
		<header class="c-category-show__header l-show__header">
			<a href="{{ path('app_category_index') }}" class="c-backlist">
				{{ include('@folder_img/icon-backtolist.svg') }}
			</a>
			<h1 class="c-category-show__title">Modifier catégorie : {{ category.name }}</h1>
			{{ include('category/_delete_form.html.twig') }}
		</header>

		{{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	</main>
{% endblock %}
